---
bild_path: ./uploads/hero-light-min.jpg
---

<header style="background-image: url({{ page.bild_path }});">
  <div class="slogan lead editable">PASSION FOR RESEARCH & INNOVATION</div>
</header>

<main>
  <section id="mission-statement" class="container">
    <div class="row">
      <div class="editable col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-2">
        <p><strong>Bioprojet</strong> entwickelt auf der Basis eigener Grundlagenforschung neue Therapieoptionen mit dem Ziel, Krankheiten zu lindern und die Lebensqualit&auml;t von Patienten zu steigern.</p><p>Unsere <strong>Vision</strong> ist es, die Lebensperspektiven von Menschen mit schwerwiegenden Erkrankungen nachhaltig zu verbessern.</p><p>Um dieses zu <strong>verwirklichen</strong>, arbeitet Bioprojet weltweit mit Forschern, &Auml;rzten und anderen Spezialisten im Gesundheitswesen zusammen.</p>
      </div>

      {% if site.data.news.size > 0 %}
        <div class="visible-md col-md-2"><!-- SPACER --></div>
        <aside class="col-md-8 col-md-offset-2 col-lg-offset-0 col-lg-3">
          <h3 class="editable">Neuigkeiten</h3>

          {% for new in site.data.news limit: 3 %}
            {% if new.link.size > 0 %}<a class="home__news" href="{{ new.link }}" target="_blank">{% else %}<div class="home__news">{% endif %}
              <div class="home__news__img visible-lg" style="background-image:url('{{ new.image_path }}');{% if new.image_path %}height: 100px;{% endif %}"></div>
              <div><strong class="home__news__date">{{new.date | date: "%e.%-m.%y"}}: </strong>{{new.text}}</div>
            {% if new.link.size > 0 %}</a>{% else %}</div>{% endif %}
          {% endfor %}
        </aside>
      {% endif %}
    </div>
  </section>

  <section id="partner" class="container">
    <h1 class="editable"><em></em></h1>
    <div class="text-center">
      {% for company in site.data.companies %}
        <a href="{{ company.link }}" target="_blank">
          <img src="{{ company.logo_path }}" height="100px" alt="{{ company.name }}" />
        </a>
      {% endfor %}
    </div>
  </section>

</main>
