// General
.website-wrapper {
  max-width: $max-width;
  margin: auto;
  box-shadow: 0 1px 10px #aaa;

  font-family: $base-font-family;
  background-color: $background-color;
}

// Navigation
.website-wrapper>nav{
  max-width: $max-width;
  margin: auto;
  margin-top: 30px;

  .logo {
    width: 180px;
    position: absolute;
    top: -22px;
    left: 40px;
  }

  a, a:link, a:visited {
    color: black;
  }
}
#navbar {
  margin-left: 220px;
}
