// General
.website-wrapper {
  max-width: $max-width;
  margin: auto;
  // box-shadow: 0 1px 10px #aaa;

  font-family: $base-font-family;
  background-color: $background-color;
}

.website-wrapper>footer {
  border-top: 1px solid $grey-color-light;
  margin-top: 10px;
  padding: 5px;
}

// Links
a, a:link, a:visited {
  color: $grey-color;
  font-weight: 600;
  transition: all .4s;

  &.thick {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.8px;
  }
}
a:hover, a:focus {
  color: $grey-color-dark;
}

// Frontpage

.website-wrapper>header {
  width: 100%;
  height: 350px;
  background-image: url('../uploads/hero-light.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  .slogan {
    align-self: center;
    margin-left: 20px;
    padding: 30px;
    background-color: rgba(250,250,250,.8);
    font-size: 2em;
  }
}
