#produkte {
  margin-top: 60px;
  ul.product-select {
    list-style: none;
    a {
      display: block;
      padding: 20px;
      transition: padding .4s;
      // border-bottom: 2px solid transparent;
    }

    li.active a{
      // border-bottom: 2px solid $brand-color;
      padding: 0;
    }
  }
}
