<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img class="logo" src="/theme-sb-bioprojet/assets/images/LogoBioprojet_2017_Deutschland.jpg" alt="logo">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a class="thin" href="/">Home</a></li>
        {% assign news_size = site.data.news | size %}
        {% if news_size > 0 %}
          <li><a class="thin" href="/news">News</a></li>
        {% endif %}
        <li><a class="thin" href="/infocenter">Infocenter</a></li>
        <li><a class="thin" href="/produkte">Produkte</a></li>
        <!-- <li><a class="thin" href="/patienten-service">Patienten Service</a></li> -->
        <li><a class="thin" href="/unternehmen">Unternehmen</a></li>
        <li><a class="thin" href="/kontakt">Kontakt</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
